header {
    background-color: #ccc;
}

.header {
    display: flex;
    height: 5rem;
    line-height: 5rem;
}

.logo {
    flex: 2;
    display: flex;
    justify-content: center;
}

.header_ul {
    display: flex;
    justify-content: space-around;
    flex: 6;
    padding-right: 6.25rem;
}

.header_ul a {
    display: block;
    height: 100%;
    width: 100%;
}

.body {
    margin-top: 1.25rem;
}

main {
    width: 100%;
    margin: 3.125rem 0;
}

main h2 {
    width: 100%;
    text-align: center;
}

main p {
    width: 50%;
    margin: 0 auto;
    margin-top: 1.25rem;
    text-indent: 2rem;
}

.ren table {
    width: 50%;
    table-layout: auto;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}

.ren table th,
.ren table td {
    padding: 0.3125rem;
    border: 0.0625rem solid #ccc;
    text-align: center;
}

.pictures div {
    width: 50%;
    margin: 0 auto;
}

.pictures div img {
    width: 100%;
}